<ion-header>

  <ion-navbar color="primary">
    <div class="row">
      <ion-title id="center">Article</ion-title>
      <button ion-button icon-only (click)="showpopdown($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let article of articles">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{article.image}}" />
      </ion-avatar>
      <h2>{{article.title}}</h2>
    </ion-item>
    <img src="{{article.image}}" />

    <ion-card-content>
      <p text-justify>
        {{article.desc}}
        <!-- He is an Indian musician, singer, recordist and music programmer. He sings predominantly in Hindi and Bengali. -->
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up">
          </ion-icon>
          <div>
            8 Likes
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text">
          </ion-icon>
          <div>
            2 Comments
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="editArt()">
          <ion-icon name="compose"> </ion-icon>
          <ion-icon name="edit">
          </ion-icon>
          <div>
            Edit
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>


  <ion-card>
    <ion-item>

      <ion-avatar item-start>
        <img src="../../assets/images/profile.jpg"> </ion-avatar>
      <h2>Arijit Singh</h2>
    </ion-item>
    <img src="../../assets/images/profile.jpg">
    <ion-card-content>
      <p text-justify>
        Arijit Singh is an Indian musician, singer, composer, music producer, recordist and music programmer. He sings predominantly
        in Hindi and Bengali.
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up">
          </ion-icon>
          <div>
            8 Likes
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text">
          </ion-icon>
          <div>
            4 Comments
          </div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-left clear small (click)="editArt()">
          <ion-icon name="edit">
          </ion-icon> -->
          <div>
            Edit
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/shre.jpeg">
      </ion-avatar>
      <h2>Shreya Ghoshal</h2>
    </ion-item>
    <img src="../../assets/images/shre.jpeg">
    <ion-card-content>
      <p text-justify>
        Shreya Ghoshal is an Indian playback singer. She has received four National Film Awards, six Filmfare Awards including five
        for Best Female Playback Singer.
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up">
          </ion-icon>
          <div>
            2 Likes
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text">
          </ion-icon>
          <div>
            2 Comments
          </div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-left clear small (click)="editArt()">
          <ion-icon name="compose">
          </ion-icon>
          <div>
            Edit
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/shre.jpeg"> </ion-avatar>
      <h2>Shreya Ghoshal</h2>
    </ion-item>
    <img src="../../assets/images/shre.jpeg">
    <ion-card-content>
      <p text-justify>
        Shreya Ghoshal is an Indian playback singer. She has received four National Film Awards, six Filmfare Awards including five
        for Best Female Playback Singer,
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up">
          </ion-icon>
          <div>
            4 Likes
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text">
          </ion-icon>
          <div>
            2 Comments
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="editArt()">
          <!-- <ion-icon name="compose">
          </ion-icon> -->
  <!-- <div>
            Edit
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card> -->



</ion-content>
