<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Blog App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <!-- The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p> -->
  <ion-img src="../../assets/images/1.png" class="logo">
  </ion-img>
</ion-content>