<!--
  Generated template for the AddArticlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title id="center">Add Article</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>
      <ion-icon name="paper"></ion-icon>Title</ion-label>

    <ion-input type="text"></ion-input>

  </ion-item>

  <ion-item>
    <ion-label floating>
      <ion-icon name="link"></ion-icon>imageUrl</ion-label>

    <ion-input type="text"></ion-input>

  </ion-item>

  <ion-item>
    <ion-label floating>
      <ion-icon name="text"></ion-icon>Text</ion-label>

    <ion-textarea type="text"></ion-textarea>

  </ion-item>
  <button ion-button block color="customButton" (click)="publish()">Publish</button>

</ion-content>